"*":
  "atom-beautify":
    general:
      _analyticsUserId: "52191407-a790-420e-9aa3-ecc360d2f6f4"
  core:
    disabledPackages: [
      "go-debug"
      "activate-power-mode"
      "jshint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.class"
      "*.asc"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Source Code Pro for Powerline"
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "95a4441c-1533-20a7-b797-35ddc578b861"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "terminal-plus":
    core: {}
  welcome:
    showOnStartup: false
