custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/.vundles.local.bak
vim/bundle
vim/sessions
.netrwhist
bin/subl
tags
atom/atom/config.cson
atom/atom/.apm
atom/atom/.node-gyp
atom/atom/.storage
atom/atom/blob-store
atom/atom/compile-cache/
atom/atom/packages/
atom/atom/storage/
atom/atom/themes/
atom/atom/.apm/.apmrc
